<!DOCTYPE html>
<html>

<head>
  <title>Devices</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    button {
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Devices</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i=0; i < data.length; i++) { %>
        <tr>
          <td>
            <button onclick="toggleSwitch('<%= data[i].device_id %>', '<%= data[i].gateway_uuid %>')">
              <%= data[i].device_name +" toggle" %>
            </button>
          </td>
          <td>
            <button onclick="getDeviceSensors('<%= data[i].device_id %>', '<%= data[i].gateway_uuid %>')">
              <%= data[i].device_name+" data" %>
            </button>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>

  <script>
    function toggleSwitch(device_id, gateway_uuid) {
      const button = event.target;
      button.disabled = true; // Disable the button to prevent multiple clicks

      function checkStatus(response) {
        if (!response.ok) {
          throw new Error(response.statusText);
        }
        return response;
      }

      fetch('/mqtt_to_http', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ url: `http://${device_id}.local/relay/0?turn=toggle`, gateway_uuid: gateway_uuid })
      }).then(checkStatus).then(response => response.json()).then(data => {
        console.log(data);
        if (data.ison) {
          button.style.backgroundColor = '#4CAF50'; // Change button color to green if device is on
        } else {
          button.style.backgroundColor = '#f44336'; // Change button color to red if device is off
        }
      }).catch(error => {
        console.error('Error:', error);
      }).finally(() => {
        button.disabled = false; // Enable the button again
      });
    }

    function getDeviceSensors(device_id, gateway_uuid) {
      const headers = { type: 'application/json' };
      const data = JSON.stringify({ url: "sendData", gateway_uuid: gateway_uuid });
      const blob = new Blob([data], headers);
      navigator.sendBeacon('/mqtt_to_http', blob);

      window.location.href = '/device_sensors?device_id=' + device_id + '&gateway_uuid=' + gateway_uuid;
    }
  </script>
</body>

</html>