<!DOCTYPE html>
<html>

<head>
  <title>Devices</title>
  <style>
    button {
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }

    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;

    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }

    /* Add flex for card container */
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  </style>
</head>

<body>
  <div class="card-container">
    <% for (let i=0; i < devices.length; i++) { %>
      <div class="card" onclick="handleButtonClick('<%= devices[i].uuid %>')">
        <div class="container">
          <h4><b>
              <%= devices[i].device_name %>
            </b>
          </h4>
          <% if (devices[i].device_type==='plug' ) { %>
            <button
              onclick="toggleSwitch('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>', '<%= devices[i].actions[0].action_endpoint %>')">
              <%= devices[i].actions[0].action_name %>
            </button>
            <% } else if (devices[i].device_type==='trv' ) { %>
              <button
                onclick="getDeviceControls('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>', '<%= devices[i].device_type %>')">
                Device Controls
              </button>
              <% } %>
                <button onclick="getDeviceSensors('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>')">
                  <%= "Device data" %>
                </button>
        </div>
      </div>

      <!-- <tr>
          <td>
            <%= devices[i].device_name %>
          </td>
          <td>
            <% for (let j=0; j < devices[i].actions.length; j++) { %>
              <% if (devices[i].actions[j].action_type==='button' ) { %>
                <button
                  onclick="toggleSwitch('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>', '<%= devices[i].actions[j].action_endpoint %>')">
                  <%= devices[i].actions[j].action_name %>
                </button>
                <% } else if (devices[i].actions[j].action_type==='field' ) { %>
                  <input type="number"
                    id="input_<%= devices[i].device_id %>_<%= devices[i].actions[j].action_endpoint %>"
                    placeholder="Enter value">
                  <button
                    onclick="sendNumber('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>', '<%= devices[i].actions[j].action_endpoint %>')">
                    <%= devices[i].actions[j].action_name %>
                  </button>
                  <% } %>
                    <% } %>
          </td>
          <td>
            <button onclick="getDeviceSensors('<%= devices[i].device_id %>', '<%= devices[i].gateway_uuid %>')">
              <%= devices[i].device_name+" data" %>
            </button>
          </td>
        </tr> -->
      <% } %>
  </div>
  <script>
    function checkStatus(response) {
      if (!response.ok) {
        throw new Error(response.statusText);
      }
      return response;
    }

    function toggleSwitch(device_id, gateway_uuid, action_endpoint) {
      const button = event.target;
      button.disabled = true; // Disable the button to prevent multiple clicks

      fetch('/mqtt_to_http', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ url: `http://${device_id}.local${action_endpoint}`, gateway_uuid: gateway_uuid })
      }).then(checkStatus).then(response => response.json()).then(data => {
        console.log(data);
        if (data.ison) {
          button.style.backgroundColor = '#4CAF50'; // Change button color to green if device is on
        } else {
          button.style.backgroundColor = '#f44336'; // Change button color to red if device is off
        }
      }).catch(error => {
        console.error('Error:', error);
      }).finally(() => {
        button.disabled = false; // Enable the button again
      });
    }
    
    function getDeviceControls(device_id, gateway_uuid, device_type) {
      window.location.href = '/device_controls?device_id=' + device_id + '&gateway_uuid=' + gateway_uuid+ '&device_type=' + device_type;
    }

    function getDeviceSensors(device_id, gateway_uuid) {
      const headers = { type: 'application/json' };
      const data = JSON.stringify({ url: "sendData", gateway_uuid: gateway_uuid });
      const blob = new Blob([data], headers);
      navigator.sendBeacon('/mqtt_to_http', blob);

      window.location.href = '/device_sensors?device_id=' + device_id + '&gateway_uuid=' + gateway_uuid;
    }
  </script>
</body>

</html>